body {
    background-color: pink;
}

.card{
    background-color: rgb(243, 214, 221);
    color: rgb(207, 80, 101);
    font-weight: 200;
    border-radius: 50px;
}

.btn-primary{
    background-color: rgb(236, 118, 137);
    color: rgb(250, 246, 240);
    font-weight: 700;
    border-radius: 30px;
}

.btn-primary:hover{
    background-color: rgb(209, 73, 95);
    color: rgb(240, 193, 212);
    font-weight: 700;
    border-radius: 30px;
}

img{
    width: 600px;
    height: 400px;
}

h2{
    color: rgb(181, 238, 238);
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 h3{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 h1{
    color: rgb(255, 111, 135);
    font-weight: bold;
    font-family: cursive;
 }

 button:disabled{
   background-color: lightskyblue !important;
   color: rgb(255, 255, 255) !important;
 }
 .btn-info{
    background-color: rgb(168, 196, 160);
    color: rgb(250, 246, 240);
    font-weight: 700;
    border-radius: 30px;
 }

 .btn-info:hover{
    background-color: rgb(120, 145, 115);
    color: rgb(190, 214, 184);
 }

 .btn-choose {
    background-color: lightskyblue;
    border-radius: 20px;
    border-color: lightcoral;
    border-width: 5px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
 }

 .selectable-card {
    cursor: pointer;
    background-color: black;
}

/* Styles for the modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

/* Styles for the modal content */
.modal-content {
    background-color: #9fcacc;
    margin: 15% auto;
    padding: 20px;
    border: 5px solid #7ca77e;
    width: 50%;
    color: rgb(36, 55, 97);
    font-size: x-large;
    text-align: center;
}

/* Styles for the close button */
.close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #f79696;
    font-size: 25px;
    background-color: #7ca77e;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
}

#popupText{
    padding: 30px;
}

#drawingCanvas{
    background-color: rgb(240, 246, 252);
    color: #f79696;
}